.brAfterXLScrn {
    display: none;
}

.brBeforeXLScrn {
    display: inline;
}

.ulStyle{
    font-weight: 500;
    line-height: 16px;
    color: rgb(5, 15, 25);
}

.liStyle{
    display: inline;
    list-style-type: none;
}

.dropdownStyle{
    width: 100%;
    background: transparent;
    color: black;
    text-align: left;
    border: none;
    font-weight: 500;
    line-height: 16px;
    color: rgb(5, 15, 25);
    padding: 15px;
    font-size: 18px;
}

@media (min-width: 1050px) {
    .headerBeforeXLScrn {
        display: block;
    }

    .headerAfterXLScrn {
        display: none;
    }
}

@media (max-width: 1050px) {
    .headerBeforeXLScrn {
        display: none;
    }

    .headerAfterXLScrn {
        display: block;
    }
}

@media (min-width: 1100px) {
    .brAfterXLScrn {
        display: inline;
    }

    .brBeforeXLScrn {
        display: none;
    }
}


